
<h2>{{ vm.entity.name }}</h2>
<div ng-if="vm.entity.dependsOn">
    <h3>Depends on: <a href="#!/courses/{{vm.entity.dependsOn.id}}">{{ vm.entity.dependsOn.name }}</a></h3>
</div>
<div ng-if="!vm.entity.dependsOn">
    {{ vm.entity.name }} doesn't depend on any other course.
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5><b>Add student to course</b></h5>
    </div>
    <div class="panel-body">
        <form ng-submit="vm.addStudent($select.selected)">
            <div class="form-group">
                <label>Student</label>
                <ui-select ng-model="vm.qualifiedStudents"
                           title="Choose a student to add to this course">
                    <ui-select-match
                            placeholder="Choose a student to add to this course...">
                        <span>{{$select.selected.index}}</span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="item in (vm.qualifiedStudents | filter:$select.search)"
                            position="auto">
                        [{{item.index}}] {{item.firstName}} {{item.lastName}}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <input type="submit" class="form-control"/>
            </div>
        </form>
    </div>
</div>

<h3>Students</h3>
<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Index</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in vm.entity.students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.index}}</td>
            <td><button class="btn btn-danger">Remove</button></td>
        </tr>
    </tbody>
</table>