<div ng-class="{'panel-warning': vm.is_editing} " class="panel panel-default">
    <div class="panel-heading">
        <h5 class="pull-left"><b>Add student</b></h5>
        <input class="btn btn-sm btn-success pull-right" type="button" ng-show="vm.is_editing"
               ng-model="vm.entity.name" class="form-control" ng-click="vm.clear()" value="Clear Edit"/>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form ng-submit="vm.save()">
            <div class="form-group">
                <label>Index</label>
                <input ng-model="vm.entity.index" type="number" class="form-control"/>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input ng-model="vm.entity.firstName" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input ng-model="vm.entity.lastName" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" ng-model="vm.entity.name" class="form-control"/>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Index</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Courses</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="e in vm.entities">
        <td>{{e.id}}</td>
        <td>{{e.index}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>
            <button class="btn btn-info" ng-click="vm.edit(e)">Show Courses</button>
        </td>
        <td>
            <button class="btn btn-info" ng-click="vm.edit(e)">Edit</button>
            <button class="btn btn-danger" ng-click="vm.remove(e)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
